---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home" description="个人主页。" pageIndexable={false}>
  <div class="empty-home">
    <h1 class="visually-hidden">Home</h1>
  </div>
</BaseLayout>
